@import url(https://db.onlinewebfonts.com/c/cddbeec76e1e772350864cf8ee6b46f9?family=Veltro+W01+Bold);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: black;
  background-color: transparent;
  font-family: sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
  border: none;
}

*::-webkit-scrollbar {
  display: none;
}

/*CONTAINERS TAKE UP THE WHOLE WIDTH (100VW)*/
.container {
  position: relative;
}
.small-container {
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}
.container:nth-child(6) {
  background: #b07cf8;
}
/*



MENU*/
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  padding-top: 15px;
  position: relative;
}
.sticky {
  position: sticky;
  top: -15px;
  z-index: 10;
  backdrop-filter: blur(3.5px);
}
.menu .left a {
  font-family: "Veltro W01 Bold";
  font-size: 70px;
}

.menu .right {
  display: flex;
  gap: 25px;
}

.menu .right a {
  font-weight: bolder;
  padding: 7px 5px;
  position: relative;
}

.menu .right a::before {
  content: " ";
  background-color: #fe6033;
  width: 0;
  height: 3px;
  position: absolute;
  top: -3px;
  left: 0;
  transition: width 350ms;
}

.menu .right a:hover::before,
.menu a.active::before {
  width: 100%;
}

.hamburger {
  display: none;
  transition: 150ms;
}

.hamburger:hover {
  cursor: pointer;
  transform: rotate(90deg);
}

@media (max-width: 1500px) {
  .menu {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 1000px) {
  .menu {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 850px) {
  .menu {
    padding-left: 50px;
    padding-right: 50px;
    position: relative;
  }
  .hamburger {
    display: block;
  }
  .menu .hide {
    height: 0;
    overflow: hidden;
  }

  .menu .right {
    flex-direction: column;
    position: absolute;
    bottom: -280px;
    left: 0;
    width: 100%;
    gap: 0;
    transition: 250ms;
  }

  .hide {
    transition: 250ms;
    height: 0px !important;
    height: 0;
    overflow: hidden;
  }

  .menu .right div,
  .menu .right div a {
    display: block;
    width: 100%;
    background-color: white;
  }

  .menu .right div a {
    padding: 15px 50px;
  }

  .sticky {
    background-color: white;
  }
}
/*



CONTAINER 1*/
.container:nth-child(1) {
  background-color: #f8f8fa;
}
.c1 {
  display: flex;
  align-content: center;
  align-items: center;
  padding: 0 125px;
}
.c1 > div {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.c1 > div h1 {
  font-weight: 1000;
  font-size: 55px;
}

.c1 > div p {
  letter-spacing: 2px;
  font-weight: 100;
  line-height: 25px;
}

.c1 > div button {
  width: 50%;
  min-height: 60px;
  padding: 0 20px;
  border: none;
  background-color: #fe6033;
  color: white;
  font-size: 1.1em;
  letter-spacing: 2px;
  font-weight: 100;
  transition: color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
  border: 2px solid #fe6033;
}

.c1 > div button:hover {
  cursor: pointer;
  background-color: white;
  color: #fe6033;
}

.c1 img {
  width: 65%;
}

@media (max-width: 1200px) {
  .c1 {
    padding: 0 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 800px) {
  .c1 {
    padding: 0;
    flex-direction: column;
    text-align: center;
  }
  .c1 > div {
    width: 100%;
    padding: 0 50px;
    align-items: center;
  }
  .c1 > div h1 {
    padding: 25px 0;
    line-height: 1.1em;
  }
  .c1 > div p {
    max-width: 450px;
  }
  .c1 > div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
  .c1 img {
    width: 100%;
  }
}
/*



CONTAINER 2*/
.c2 {
  display: flex;
  align-items: center;
  height: min-content;
  padding: 80px 0;
  gap: 50px;
}
.container:nth-child(2) {
  background-color: #00bcbd;
}
.c2 div:nth-child(1) {
  width: 50%;
  padding-left: 50px;
}
.c2 img {
  width: 100%;
}

.c2 div:nth-child(2) {
  display: flex;
  padding-right: 50px;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 500px;
  color: white;
}

.c2 div:nth-child(2) * {
  color: white;
}

.c2 div:nth-child(2) h1 {
  font-size: 75px;
  padding-bottom: 15px 0;
}

@media (max-width: 1100px) {
  .c2 {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 800px) {
  .c2 {
    flex-direction: column-reverse;
    padding: 50px;
  }
  .c2 > div:nth-child(2) {
    max-width: none;
    padding: 0;
  }
  .c2 > div:nth-child(1) {
    width: 100%;
    padding: 0;
  }
}

/*



CONTAINER 3*/
.container:nth-child(3) {
  background-color: #70c0ff;
}
.c3 {
  display: flex;
  padding: 100px 150px;
  gap: 25px;
}

.c3 > div {
  width: 50%;
  display: flex;
  text-align: center;
}

.c3 > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 15px;
}

.c3 > div:nth-child(2) {
  position: relative;
  display: flex;
  justify-content: center;
}

.c3 > div:nth-child(2) img {
  height: 100%;
}

.c3 > div:nth-child(2) p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color: white;
  font-size: 75px;
  font-weight: bolder;
}

.c3 > div:nth-child(1) button {
  width: 400px;
  height: 100px;
  font-size: 18px;
  font-weight: bolder;
  background-color: white;
  border: none;
  -webkit-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  transition: 150ms ease-in-out;
}

.c3 > div:nth-child(1) button:hover {
  cursor: pointer;
  transform: scale(1.03);
}
@media (max-width: 1200px) {
  .c3 {
    padding: 50px 15px;
    gap: 5px;
  }
}
@media (max-width: 900px) {
  .c3 {
    flex-direction: column-reverse;
    padding: 50px 50px;
    gap: 45px;
  }
  .c3 > div {
    width: 100%;
  }
  .c3>div>img {
    width: 100%;
    padding: 0 150px;
  }
  .c3 div p {
    width: 100vw;
    padding: 0 25px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
  }
  .c3 div button {
    max-width: 100%;
  }
}

@media (max-width: 750px) {
  .c3>div>img {
    padding: 0 50px;
  }
}
@media (max-width: 500px) {
  .c3>div>img {
    padding: 0;
  }
}
/*



CONTAINER 4*/
.container:nth-child(4) {
  background-color: #fee92e;
}
.c4 h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 100px;
  font-weight: bolder;
}

.c4 p {
  text-align: center;
  padding: 35px 0;
  line-height: 1.5em;
  letter-spacing: 1.5px;
}

.divforbutton {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.divforbutton button {
  padding: 15px 50px;
  border: none;
  background-color: #5685a3;
  font-size: 20px;
  color: white;
  font-weight: 100;
  border: 2px solid #5685a3;
  -webkit-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  transition: 250ms;
}

.divforbutton button:hover {
  cursor: pointer;
  color: #5685a3;
  background-color: white;
  transform: scale(1.05);
}

.galeria > * {
  float: left;
}

.galeria::after {
  content: " ";
  clear: both;
  display: block;
}

.galeria img {
  width: 100%;
  display: block;
}

.galeria div {
  float: left;
  transition: 250ms;
}

.galeria div:nth-child(1) {
  width: calc(100% * 0.6624385965);
}
.galeria div:nth-child(2),
.galeria div:nth-child(3) {
  width: calc(100% * 0.3375614035);
}
.galeria div:nth-child(5),
.galeria div:nth-child(6) {
  width: 50%;
}

.galeria img {
  padding: 15px;
}

.galeria div:hover {
  transform: scale(1.08);
  cursor: grab;
}

@media (max-width: 1700px) {
  .galeria {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 900px) {
  .galeria {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 800px) {
  .galeria {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 1100px) {
  .galeria div:nth-child(1) {
    width: 100%;
  }
  .galeria div:nth-child(2),
  .galeria div:nth-child(3),
  .galeria div:nth-child(5),
  .galeria div:nth-child(6) {
    width: 50%;
  }
  .galeria main {
    clear: both;
  }
}

@media (max-width: 750px) {
  .galeria div:nth-child(1) {
    width: 100%;
  }
  .galeria div:nth-child(2),
  .galeria div:nth-child(3),
  .galeria div:nth-child(5),
  .galeria div:nth-child(6) {
    width: 100%;
  }
  .galeria {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 500px) {
  .galeria {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*



CONTAINER 5*/
.c5 {
  background-image: url(../photo/2.jpg);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.c5 > div {
  padding: 150px 0;
  padding-left: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.c5 p {
  line-height: 25px;
  letter-spacing: 1.5px;
  padding: 20px 0;
}

.c5 input {
  padding: 10px;
  width: 35%;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}

.c5 button {
  background-color: green;
  height: 50px;
  margin-left: 30px;
  padding: 10px 35px;
  font-size: 19px;
  border: none;
  color: white;
  -webkit-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  box-shadow: 0px 1px 34px -12px rgba(66, 68, 90, 1);
  transition: 150ms;
}

.c5 button:hover {
  cursor: pointer;
}

@media (max-width: 1250px) {
  .c5 {
    background-image: none;
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .c5 {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
  }
  .c5 * {
    text-align: center;
  }
  .c5 p,
  .c5 h1 {
    padding: 0 50px;
  }
  .c5 input {
    width: 50%;
  }
  .c5 div {
    padding: 0;
  }
}

@media (max-width: 650px) {
  .c5 input {
    width: 80%;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .c5 button {
    margin: 0;
  }
}
.c5 input {
  text-align: left;
}
.c5 button:hover {
  color: green;
  background-color: white;
  border: 2px solid green;
  transform: scale(1.05);
}

.c5 input:focus {
  background-color: white;
  border: 3px solid green;
  color: green;
}
.c5 input:focus::placeholder {
  color: green;
}
/*



CONTAINER 6*/
.c6 * {
  color: white;
}

.c6 h1 {
  font-size: 100px;
  padding-top: 100px;
}

#showonclick * {
  visibility: hidden;
}

#showonclick {
  height: 0px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-basis: calc(100% / 3);
  flex-wrap: wrap;
}

.images > .div {
  height: 300px;
  width: 370px;
  position: relative;
  -webkit-box-shadow: inset 0px -68px 99px -23px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px -68px 99px -23px rgba(0, 0, 0, 1);
  box-shadow: inset 0px -68px 99px -23px rgba(0, 0, 0, 1);
  transition: 250ms;
}

.images > div:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.images > div::after {
  content: " ";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 1);
}

.images > div:nth-child(1) {
  background-image: url(../photo/limonki.png);
  background-position: center;
  background-size: 100% auto;
}

.div {
  display: block;
  height: auto;
  transition: 500ms;
}

.images > div p {
  top: 25px;
  left: 25px;
  position: absolute;
  padding: 3px 8px;
  background-color: rgba(0, 0, 0, 0.459);
  text-align: center;
  font-weight: bolder;
  border-radius: 7px;
  letter-spacing: 1.5px;
  font-size: 25px;
  font-weight: bolder;
}

.images > div p span {
  font-size: 30px;
  letter-spacing: 2px;
}

.images > div:nth-child(2) {
  background-image: url(../photo/groszki.jpg);
  background-position: center;
  background-size: auto 100%;
}

.images > div:nth-child(3) {
  background-image: url(../photo/maliny.jpg);
  background-position: center;
  background-size: auto 100%;
}

.images > div div {
  position: absolute;
  bottom: 30px;
  left: 23px;
}

.images > div div h3 {
  padding-right: 15px;
  margin-bottom: 30px;
  line-height: 1.4em;
}

@media (max-width: 1200px) {
  .c6 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .images > div:nth-child(1) {
    background-image: url(../photo/limonki.png);
    background-position: center;
    background-size: auto 100%;
  }
}

@media (max-width: 750px) {
  .images {
    flex-direction: column;
    align-items: center;
  }
  .images > div {
    width: min(75%, 370px) !important;
  }
  .images > div:nth-child(1) {
    background-image: url(../photo/limonki.png);
    background-position: center;
    background-size: 100% auto;
  }
}
/*



CONTAINER 7*/
.c7 {
  background-image: url("../photo/contact.png");
  height: 100vh;
  padding-top: 50px;
}

.background-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  background-color: #f8f8fa;
}

.center {
  display: flex;
  justify-content: center;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #262626;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.footer > * {
  flex: 1;
  text-align: center;
  color: white;
}

.c7 > *:nth-child(1) {
  font-size: 85px;
  font-weight: bolder;
  padding-top: 50px;
}

.c7 > *:nth-child(2) > * {
  max-width: 400px;
  margin-top: 35px;
  line-height: 1.5em;
  text-align: center;
}

.c7 .tabels {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  justify-content: center;
  gap: 150px;
}

.tabelleft {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-right: 75px;
}

.tabelleft input {
  width: 500px;
  padding: 15px;
  border: none;
  background-color: #00c4c477;
  position: relative;
}

.tabelleft input:focus {
  border: none;
  background-color: #00c4c4;
  outline: none;
}

.tabelleft input:focus::after {
  content: " ";
  height: 100%;
  width: 3px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  z-index: 20000;
}

.tabelleft input::placeholder {
  color: white;
}

.tabelleft textarea {
  resize: none;
  width: 500px;
  padding: 15px;
  border: none;
  background-color: #00c4c477;
  height: 250px;
}

.tabelleft textarea:focus {
  border: none;
  background-color: #00c4c4;
  outline: none;
}

.tabelleft textarea::placeholder {
  color: white;
}

.tabelright h1 {
  font-size: 1em;
}

.tabelright p {
  margin-bottom: 25px;
}

@media (max-width: 1200px) {
  .tabels {
    justify-content: center;
  }
  .tabelleft {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .tabels input {
    width: 80%;
  }
  .tabels {
    flex-direction: column-reverse !important;
    align-items: center;
    align-content: center;
    width: 100%;
    gap: 0;
  }

  .tabels > * {
    width: 80%;
  }

  .c7 {
    background-size: cover;
    height: min-content;
  }

  .footer {
    position: relative;
  }

  .c7::after {
    content: " ";
    display: block;
    clear: both;
  }

  .c7 * {
    text-align: center;
  }
  .c7 input,
  .c7 textarea {
    width: 100%;
    text-align: left;
  }

  .c7 textarea {
    margin-bottom: 50px;
  }
}

:root {
  scroll-behavior: smooth;
}

.container1::after {
  content: " ";
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 186, 185);
  background: linear-gradient(
    0deg,
    rgba(0, 186, 185, 1) 0%,
    rgba(249, 249, 251, 1) 100%
  );
}

.container2::after {
  content: " ";
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 186, 185);
  background: linear-gradient(0deg, #70c0ff 0%, rgba(0, 186, 185, 1) 100%);
}

.container3::after {
  content: " ";
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 186, 185);
  background: linear-gradient(0deg, #fee92e 0%, #70c0ff 100%);
}

.container4::after {
  content: " ";
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 186, 185);
  background: linear-gradient(0deg, #ffffff 0%, #fee92e 100%);
}

.container5::after {
  content: " ";
  width: 100vw;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: rgb(0, 186, 185);
  background: linear-gradient(0deg, #b07cf8 0%, #ffffff 100%);
}

@media (max-width: 1500px) {
  .small-container {
    width: 100%;
  }
}

.c3 button {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
}

.c3 nav {
  height: 100px;
  width: max-content;
  display:flex;
  align-items: center;
  align-content: center;
  border-left: 1px solid #9d9d9d;
  padding:15px;
}

.c3 button img {
  display: block;
  width:75px;
}

.dlatekstu{  width:100%;
  padding: 0 15px;
}

